
body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}
.col-sm-10 ul li {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}

.alert.smaller_states {
    padding: 3px;
    text-align: center;
}

.alert-questions {
    background-color: #b784ff;
    border-color: #8632fc;
    color: #41009e;
}

.add-changesets-popup-active {
    position: fixed;
    top: 75px;
    left: 5%;
    width: 90%;
}

.add-changesets-popup-non-active {
    display: none;
}
.col-md-12 .glyphicon-remove {
    float: right;
}
.fadingWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/background.png) repeat;
    z-index: 2;
}
.requiredField {
    border-radius: 4px;
    border-color: #d2322d;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
.popover {
    overflow-x: hidden;
}
.add-changesets-popup-active .panel-body{
    max-height: 400px;
    overflow-y: scroll;
}
.add-changesets-popup-active .panel-body .clearfix {
    margin-bottom: 5px;
}
